---
layout: archive
classes: wide

---

{{ content }}
<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
-->
<table class="table">
	<thead>
	<tr>
		<th>Date and time</th>
		<th>Place</th>
		<th>Speaker</th>
		<th>Topic</th>
    <th>Papers</th>
	</tr>
	</thead>
	<tbody>


<!-- new -->
<tr> 
		<td>	
			<div style="color:red">Jan. 16, 2019<br>
			3-4 p.m.</div>
		</td>
		<td>	C3.163 </td>
		<td>	Inske </td>
		<td>	<br><a target="_blank" href="">[slides]</a> </td>
		<td>	<p style="font-size:13px">Deep contextualized word representations</p>
		</td>	
		</tr>

<!-- new -->
<tr> 
		<td>	
			<div style="color:red">Jan. 16, 2019<br>
			3-4 p.m.</div>
		</td>
		<td>	C3.163 </td>
		<td>	Tao </td>
		<td>	<br><a target="_blank" href="">[slides]</a> </td>
		<td>	<p style="font-size:13px">Universal Language Model Fine-tuning for Text Classification</p>
		</td>	
		</tr>

		

<!-- new -->
<tr> 
		<td>	
			<div style="color:red">Jan. 14, 2019<br>
			3-4 p.m.</div>
		</td>
		<td>	C3.101 </td>
		<td>	Tao Hu </td>
		<td>Neural Arch Search<br><a target="_blank" href=""slides/nas.pdf">[slides]</a> </td>
		<td>	<p style="font-size:13px">Efficient Neural Architecture Search via Parameter Sharing, ICML2018</p>
		</td>	
		</tr>

<!-- new -->
<tr> 
<td>	
	<div style="color:red">Jan. 14, 2019<br>
	3-4 p.m.</div>
</td>
<td>	C3.101 </td>
<td>	Gjorgji <br> Strezoski </td>
<td>	Understanding Regularization<br><a target="_blank" href="">[slides]</a> </td>
<td>	<p style="font-size:13px">Understanding the Disharmony between Dropout and Batch Normalization by Variance Shift. Arxiv, 2018.</p>
</td>	
</tr>
    
<!-- new -->
<tr> 
<td>	
	Jan. 9, 2019<br>
	3-4 p.m.
</td>
<td>	C3.163 </td>
<td>	William Thong </td>
<td>	Understanding Attention<br><a target="_blank" href="slides/aw.pdf">[slides]</a> </td>
<td>	<p style="font-size:13px">Attention Is All You Need. NeurIPS, 2017.</p>
<p style="font-size:13px"> Why Self-Attention? A Targeted Evaluation of Neural Machine Translation Architectures. EMNLP, 2018</p>
</td>	
</tr>

<!-- new -->
<tr> 
<td>	
	Jan. 7, 2019<br>
	3-4 p.m.
</td>
<td>	C3.101 </td>
<td>	Zenglin <br> Shi </td>
<td>	Understanding Normalization<br><a target="_blank" href="slides/Normalization.pdf">[slides]</a> </td>
<td>	<p style="font-size:13px">Group Normalization. ECCV, 2018.</p>
<p style="font-size:13px"> Batch Renormalization: Towards Reducing Minibatch Dependence in Batch-Normalized Models. NeurIPS, 2017</p>
<p style="font-size:13px">Batch Normalization: Accelerating Deep Network Training by Reducing Internal Covariate Shift. ICML, 2015</p>
 </td>	
</tr>
 
<!-- new -->
<tr> 
<td>	
	Dec. 17, 2018<br>
	3-4 p.m.
</td>
<td>	C3.101 </td>
<td>	Tao Hu<br> Shuo Chen </td>
<td>	Understanding Convolutions<br><a target="_blank" href="slides/dcn.pdf">[slides 1]</a>,<a target="_blank" href="slides/kroneck_convolution.pdf">[slides 2]</a>
  </td>
<td>	<p style="font-size:13px">Deformable Convolutional Networks. ICCV, 2017.</p>
<p style="font-size:13px"> Deformable ConvNets v2: More Deformable, Better Results2. Arxiv, 2018.</p>
<p style="font-size:13px">Tree-structured Kronecker Convolutional Network for Semantic Segmentation. Arxiv, 2018.</p>
 </td>	
</tr>
		
<!-- new -->
<tr> 
<td>	
	Dec. 17, 2018<br>
	4-5 p.m.
</td>
<td>	C3.101 </td>
<td>	William <br>Thong </td>
<td>	Model Pretraining<br><a target="_blank" href="slides/rethinking_pretraining.pdf">[slides]</a> </td>
<td>	<p style="font-size:13px">Rethinking ImageNet Pre-training. Arxiv, 2018.</p>
 </td>	
</tr>
	
 <!-- new -->
<tr> 
<td>	
	Dec, 10, 2018<br>
	4-5 p.m.
</td>
<td>	C3.101 </td>
<td>	Riaan <br>Zoetmulder </td>
<td>	Transfer Learning<br><a target="_blank" href="slides/taskonomy.pdf">[slides]</a> </td>
<td>	<p style="font-size:13px">Taskonomy: Disentangling Task Transfer Learning. CVPR, 2018 (Best Paper).</p>
 </td>	
</tr>
  
    
 <!-- new -->
<tr> 
<td>	
	Dec, 10, 2018<br>
	4-5 p.m.
</td>
<td>	C3.101 </td>
<td>	Zenglin <br>
  Shi </td>
<td>	Pooling Mechanism<br><a target="_blank" href="slides/Detail-preserving pooling.pdf">[slides]</a> </td>
<td>	<p style="font-size:13px">Detail-Preserving Pooling in Deep Networks. CVPR, 2018 (Oral).</p>
  <p style="font-size:13px">Theoretical Analysis of Feature Pooling in Visual Recognition. ICML, 2010.</p>
  <p style="font-size:13px">Rank-based pooling for deep convolutional neural networks. Neural Networks,2016.</p>
 </td>	
</tr>
  



		
</tbody>
</table>






{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
